<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Project Aliter" />
    <meta name="google-site-verification" content="vpErr5kM-JoIMgnLf9zI6ZHm-arimjfRl3s_RbsHQzA" />
    <link rel="stylesheet" href="/css/screen.css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" />
</head>
<body>

<div class="site">
    <div class="title">
        <a href="/">aliter</a>
        &middot; <a class="extra" href="http://github.com/aliter">github/aliter</a>
        <!-- &middot; <a class="extra" href="/#howtohelp">how to help</a> -->
    </div>

    {{ content }}

    <div class="footer">
        <div class="contact">
            <p>
                <a href="http://github.com/aliter/">github.com/aliter</a><br />
                Erlang + Ragnarok Online = eAthena Killer = Aliter
            </p>
        </div>
        <div class="contact">
            <p>
                Thanks to <a href="http://github.com/mojombo/">github.com/mojombo</a> for saving us loads of time.<br />
            </p>
        </div>
    </div>
</div>

<div style="position: absolute; top: 0; right: 0;"><a href="http://github.com/aliter"><img style="border: 0;" src="/images/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a></div>

<script type="text/javascript">
    (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4de73873613f5d7a59000002');
        t.src   = '//secure.gaug.es/track.js';
        var s   = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22898276-2']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>